/* Mission Start Here */
section.our_mission {
	padding: 58px 0px 32px;
}

section.our_mission.pad-10 .mission_start .text_start {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

section.our_mission.pad-10 .mission_start .text_start h2 {
	font-size: 56px;
}

section.our_mission.pad-10 .mission_start .text_start p {
	font-size: 16px;
	font-family: "Montserrat";
	color: #000;
}

section.our_mission.pad-10 .mission_start .text_start p.semi {
	font-weight: 600;
}

section.our_mission.pad-10 .mission_start .text_start ul.checks {
	margin-bottom: 0px;
	padding-left: 0px;
}

section.our_mission.pad-10 .mission_start .text_start ul.checks li {
	list-style: none;
	font-size: 16px;
	font-family: "Montserrat";
	font-weight: 500;
	background-image: url(../img/checkbox.webp);
	background-repeat: no-repeat;
	background-size: 14px;
	background-position: center left;
	padding-left: 23px;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Mission End Here */
/* Choose Start Here */
section.why_choose_us .choose_start .text_start {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

section.why_choose_us .choose_start .text_start h2 {
	font-size: 56px;
}

section.why_choose_us .choose_start .text_start .star_text .texts_start h4 {
	font-size: 23px;
	font-weight: 600;
}

section.why_choose_us .choose_start .text_start .star_text .texts_start p {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 13px;
}

section.why_choose_us .choose_start .text_start .star_text .texts_start {
	padding-left: 25px;
	background-image: url(../img/star.webp);
	background-repeat: no-repeat;
	background-size: 15px;
	background-position-y: 7px;
	background-position-x: left;
}

section.why_choose_us .choose_start .text_start .star_text p.text {
	font-family: "Montserrat";
	font-size: 16px;
	color: #000;
	font-weight: 600;
}

section.our_gallery {
	background: #f9f9f9;
	padding-top: 30px;
	margin-top: 33px;
}

section.why_choose_us {
	padding-top: 52px;
}

.about_sec .content-wrapper .title h2 {
	color: #2a263d;
	font-weight: 700;
	font-size: 46px;
	position: relative;
	line-height: 53px;
}
