/* Contact Css Start Here */
.contact-sec {
	padding: 60px 0;
	position: relative;
}
.contact-sec .before {
	position: absolute;
	left: 0;
	top: 0;
}
.contact-sec .form-box {
	max-width: 80%;
	margin: 0px auto;
}
.contact-sec .before img {
	width: 70%;
	opacity: 0.6;
}
.contact-sec .after {
	position: absolute;
	bottom: 100px;
	right: 0;
}
.contact-sec .after img {
	width: 70%;
	margin: 0px 0px 0px auto;
	display: table;
}
.contact-sec .form-group {
	margin-bottom: 16px;
}
.contact-sec .form-group label {
	font-weight: 600;
	color: #000;
	font-size: 17px;
	margin-bottom: 13px;
}
.contact-sec .form-group .form-control {
	border: 1px solid #ccc8c8;
	border-radius: 0;
	padding: 10px 15px;
	font-size: 17px;
	font-family: "Montserrat";
	color: #000000;
}
.contact-sec .form-group .form-control::placeholder {
	font-family: "Montserrat";
	color: #000000;
}
.contact-sec textarea {
	height: 120px;
	resize: none;
}
.contact-sec .button-group .btn {
	background: #c91120;
	border-radius: 3px;
	color: #fff;
	font-family: "Montserrat";
	font-weight: 600;
	width: 100%;
	padding: 12px 0;
	margin-bottom: 25px;
}
.contact-sec .info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	position: relative;
	margin-top: 50px;
}
.contact-sec .info .info-box .icon {
	margin-bottom: 10px;
}
.contact-sec .info .info-box h4 {
	color: #232323;
	font-weight: 600;
	font-size: 25px;
	margin: 14px 0 10px;
}
.contact-sec .info .info-box p {
	margin: 0 0 3px 0;
}
.contact-sec .info .info-box p a {
	color: #000000;
	font-family: "Montserrat";
	font-weight: 500;
	text-decoration: none;
}
.contact-sec .info span.sep {
	width: 1px;
	height: 140px;
	background: #a4a4a4;
	position: absolute;
	right: 20px;
	left: 0;
	margin: 0px auto;
}
/* Contact Css End Here */
